*,
*::after,
*::before {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}

html.lenis,
html.lenis body {
	height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
	overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}

.lenis.lenis-autoToggle {
	transition-property: overflow;
	transition-duration: 1ms;
	transition-behavior: allow-discrete;
}

body {
	font-family: $font;
	font-stretch: normal;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-flex;
	cursor: pointer;
}

img {
	max-width: 100%;
	vertical-align: top;
	height: auto;
}

.size-full {
	width: 100%;
}

.purple {
	background: $color-purple;
}
.teal {
	background: $color-teal;
}

.orange {
	background: $color-orange;
}

.link {
	position: relative;

	margin: 6px 0;
	line-height: 1.9;
	cursor: pointer;
	overflow: hidden;

	font-size: 1.58vw;
	font-variation-settings: 'wght' 500;

	// Optional: add color variable fallback
	$line-color: $color-black !default;

	// Add a transition trigger, e.g., on hover
	&::before,
	&::after {
		content: '';
		position: absolute;
		background: $line-color;
		height: 1px;
		width: 100%;
		bottom: 0;
		transition: transform 0.4s ease-in-out;
	}

	&::before {
		transform: translateX(-120%);
	}

	&::after {
		transform: translateX(0);
	}

	// On hover, animate
	&:hover::before {
		transform: translateX(0);
	}

	&:hover::after {
		transform: translateX(140%);
	}

	// &:hover::after {
	// 	opacity: 0;
	// }
}

.dark-mode .link {
	&::before,
	&::after {
		background: $color-white;
	}
}

.link {
	font-size: 1.58vw;
	font-variation-settings: 'wght' 500;

	@include media('<phone') {
		font-size: 5.1vw;
	}
}

.page-enter-active,
.page-leave-active {
	transition: all 0.6s ease-in-out;
}
.page-enter-from,
.page-leave-to {
	opacity: 0;
	// filter: blur(1rem);
}

.dark-mode body {
	// background-color: #222124 !important;
	// color: #ebf4f1 !important;
	background-color: $color-dark;
	color: $color-white;
	transition: $default-transition;
}
.light-mode body {
	// background-color: #f1e7d0 !important;
	// color: #433422 !important;
	transition: $default-transition;
}

.dark-mode section {
	background-color: $color-dark;
	color: $color-white;
	transition: $default-transition;
}
