@mixin test {
	border: 1px solid red;
}

@mixin font-face($font-family, $file-path, $weight) {
	@font-face {
		font-family: $font-family;
		src:
			url('#{$file-path}.woff2') format('woff2 supports variations'),
			url('#{$file-path}.woff2') format('woff2-variations');
		font-weight: $weight;

		font-display: swap;
		font-style: oblique 0deg 0deg;
		font-variation-settings:
			'wght' 400,
			'slnt' 0;
	}
}

@mixin default-grid {
	grid-auto-rows: min-content;
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	@include media('<phone') {
		grid-template-columns: repeat(6, 1fr);
	}
}
