.h1 {
	font-size: 3.7vw;
	line-height: 1.1;
	font-variation-settings: 'wght' 480;
}
.h3--black {
	font-size: 2.3vw;
	line-height: 1;
	color: $color-black;
	font-variation-settings: 'wght' 480;
}

.big-title {
	font-size: 4.8vw;
	line-height: 1.1;
	font-variation-settings: 'wght' 480;
	letter-spacing: -2px;
	text-transform: uppercase;
}

.p1--grey {
	color: $color-grey;
	font-size: 1.58vw;
	line-height: 1.2;
}

.p1--black {
	color: $color-black;
	font-size: 1.58vw;
	line-height: 1.1;
	font-variation-settings: 'wght' 480;
}

.link {
	font-size: 1.58vw;
	font-variation-settings: 'wght' 500;
}
