$color-black: #111;
$color-white: #fff;
$color-grey: #9f9f9f;
$color-purple: #9280e6;
$color-teal: #3cb7a5;
$color-orange: #e9512c;
$color-dark: #222124;

$z-preloader: 6;

$default-transition: all 0.5s ease;

$z-header: 6;
$z-nav: 5;
$z-mask: 7;
$z-preloader: 8;

$default-gap: 3.704vw;

$font: 'TT_Norms_var', sans-serif;
